<footer>
    <div class="ft_wrap_up">
        <div class="ft_up">
            <dl>
                <dt>Company</dt>
                <dd><a href="#">회사 소개</a></dd>
                <dd><a href="#">CEO 인사말</a></dd>
                <dd><a href="#">경영이념</a></dd>
                <dd><a href="#">연혁</a></dd>
            </dl>

            <dl>
                <dt>Product</dt>
                <dd><a href="#">사업 개요</a></dd>
                <dd><a href="#">Mobility</a></dd>
                <dd><a href="#">Mobility Souction</a></dd>
                <dd><a href="#">파트너십</a></dd>
            </dl>


            <dl>
                <dt>R&D</dt>
                <dd><a href="#">연구분야</a></dd>
                <dd><a href="#">스마트 제조혁신</a></dd>
                <dd><a href="#">지속가능 개선활동</a></dd>
            </dl>


            <dl>
                <dt>ESG</dt>
                <dd><a href="#">ESG 전략</a></dd>
                <dd><a href="#">Environment</a></dd>
                <dd><a href="#">Social</a></dd>
                <dd><a href="#">Governance</a></dd>
            </dl>


            <dl>
                <dt>IR</dt>
                <dd><a href="#">투자정보</a></dd>
                <dd><a href="#">재무정보</a></dd>
                <dd><a href="#">기업 지배구조</a></dd>
            </dl>


            <dl>
                <dt><a href="#">Newsroom<span></span></a></dt>

            </dl>

        </div>
    </div>

    <div class="ft_wrap_down">

        <div class="ft_down">

            <div class="ft_down_left">
                <a href="#"></a>
                <ul>
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">개인정보처리방침</a></li>
                    <li><a href="#">서비스 이용약관</a></li>
                    <li><a href="#">법적고지</a></li>
                    <li><a href="#">운영정책</a></li>
                    <li><a href="#">인재채용</a></li>
                </ul>
                <p>COPYRIGHT (C) 2026 STEELINE MOTOR GROUP, ALL RIGHTS RESERVED.</p>
            </div>
            <div class="ft_down_right">
                <span></span>
                <span></span>
                <div class="btn">
                    <a href="#">그룹사 바로가기<span></span></a>
                </div>
            </div>

        </div>

    </div>

</footer>